@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

$font-special: 'Kosugi Maru', sans-serif;
$font-principal: sans-serif;

$color-red: #F20530;
$color-green: #014034;
$color-blue: #CCD9D7;


$breakpoint-mobile: 768px;
